.window h1, .window h2, .window h3, .window p {
   padding: 2rem;
  }

  /* blockquote {
    
  } */

  .hide-me {
   display: none;
  }


  .dark-mode {
   
   color: aquamarine;
  }

  .dark-mode p {
   background-color: black;
  }

